<MudDialog>
    <DialogContent>
        <div style="display: flex; justify-content:center; align-items:center;">
            <MudImage Src="Images/question.png" Width="130" Class="mb-3"/>
        </div>
        <MudText>@Message</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" OnClick="Aceptar" FullWidth = "true">Si</MudButton>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Secondary" OnClick="Cancelar" FullWidth = "true">No</MudButton>
    </DialogActions>
</MudDialog>